@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center">
    <h1 class="col-12">Welcome to CRUDelicious</h1>
    <div id="page-container" class="d-flex flex-row justify-content-start">
        <div class="col-8 d-flex justify-content-start flex-column">
            <p class="border-bottom p-2 text-left">Check out some recent dishes!</p>
            @foreach (Dish dish in ViewBag.AllDishes)
            {
                <p class="text-left"><a href="ViewDish/@dish.DishID">@dish.Name</a> by @dish.Chef</p>
            }
        </div>

        <div class="col-1">
        </div>

        <div class="col-3 text-right">
            <a href="/MakeDish">Add a Dish</a>
        </div>
    </div>
</div>
